$header-height: 60px;

.header {
    z-index: 1;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 1200px;
    border-bottom: 1px solid gray;
    padding: 0 10px;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.logo {
    line-height: $header-height;

    color: $main-color;
    font-size: 40px;
    font-weight: 700;
}

.nav {
    display: inline-block;
    float: right;
}

.nav__item:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
}

.nav__item {
    position: relative;
    display: inline-block;
    width: 120px;

    line-height: $header-height;
    text-align: center;

    &.nav__item:hover {
        color: $main-color;
    }
}

.nav__item--active {
    color: $main-color;
}

.nav__item::after {
    content: '';
    position: absolute;
    bottom: 0;

    background-color: $main-color;
    display: block;
    height: $active-underline;
    width: 100%;

    transform: scale(0, 1);
    transition: all 300ms cubic-bezier(.45,1,.32,1);
}

.nav__item--active::after {
    transform: scale(1, 1);
}

.github-logo {
    line-height: $header-height;
    vertical-align: middle;
}

.github-logo {
    width: 40px;
    height: 40px;
}
