.header {
    z-index: 1;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 1200px;
    $header-height: 60px;
    border-bottom: 1px solid gray;
    padding: 0 10px;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.logo {
    line-height: $header-height;

    color: $main-color;
    font-size: 40px;
    font-weight: 700;
}

.nav {
    display: inline-block;
    float: right;
}

.nav__item:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
}

.nav__item {
    display: inline-block;
    width: 120px;

    line-height: $header-height + $active-underline;
    text-align: center;
}

.nav__item--active {
    color: $main-color;
    border-bottom: $active-underline solid $main-color;
}

.github-logo {
    line-height: $header-height;
    vertical-align: middle;
}

.github-logo {
    width: 40px;
    height: 40px;
}
