// Vars
$main-color: #47CCAE;
$banner-height: 120px;
$header-height: 60px;
$active-underline: 6px;
$color-black: black;

// Resets

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

p {
    margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Mixins

@mixin vertical-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centered {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@import "header.scss";

// Mini-grid

.row {

    &::before {
      display: table;
      content: "";
    }

    &::after {
      display: table;
      clear: both;
      content: "";
    }
}

.col-1-2 {
    width: 50%;
    float: left;

    @media screen and (max-width: 1200px) {
        margin-left: 0;
        width: 100%;
    }
}

.offset-1-6 {
    margin-left: 16.6666666666%;
}

.col-2-3 {

    width: 66.6666666%;
    float: left;

    @media screen and (max-width: 1200px) {
        margin-left: 0;
        width: 100%;
    }
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans', serif;
    font-size: 20px;
    font-weight: 400;
}

.h1 {
    font-size: 50px;
    color: $main-color;
    margin: 0;
}

.h1--banner {
    text-transform: capitalize;
    @include vertical-centered;
}

.h2 {
    font-size: 30px;
    font-style: italic;
    color: $main-color;
    margin: 0;
    margin-bottom: 10px;
}

.h3 {
    font-size: 20px;
    font-style: italic;
    margin: 0;
    font-weight: 400;
}

.link {
    color: $main-color;
    text-decoration: underline;
}


.main-container {
    box-sizing: border-box;
    position: relative;
    width: 1200px;
    margin: 2 * $header-height auto 0;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.me-gif {
    width: 240px;
    display: block;
    margin: auto;

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.banner {
    text-align: center;
    height: $banner-height;
}

.banner--skills {
   background-image: url('../img/code-banner.jpg');
}

.banner--projects {
   background-image: url('../img/alois-martin.jpg');
}

.main-description {
    margin-top: 40px;
}

// Projects
.project--brand {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom left;
    text-align: center;

    padding: 60px 20px;

    img {
        padding-top: 20px;
        width: 220px;
    }

    @media screen and (max-width: 1200px) {
        padding: 20px 20px;
        background-image: none!important;
    }
}

.project--brand__lima {
    background-image: url('../img/lima-background.jpg');

    .lima-logo-black {
        display: none;
    }

    @media screen and (max-width: 1200px) {
        .lima-logo {
            display: none;
        }

        .lima-logo-black {
            display: inline-block;
        }
    }
}

.project--brand__ledej {
    background-position: top left;
    background-image: url('../img/ledej-background.jpg')
}

.project--description {
    width: 50%;
    float: right;

    @media screen and (max-width: 1200px) {
        width: 100%;
        float: none;
    }
}

.project--points {
    text-align: left;
    margin: 60px 0;
    list-style: none;

    li {
        margin-top: 20px;
    }

    li:before {
        transform: translateY(6%); // Didn't find a way to center it properly..

        font-size: 30px;
        padding-right: 10px;
        content: '■';
        color: $main-color;
        display: inline-block;
    }

}

.spacer {
    text-align: center;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.footer {
    height: 2px;
    background-color: $main-color;
}

// Utilities

.underlined {
    color: $main-color;
    display: inline-block;
    border-bottom: 3px solid $main-color;
    line-height: 18px;
}

.padding-top-md {
    padding-top: 20px;
}

.padding-left-md {
    padding-left: 20px;
}

.padding-right-md {
    padding-right: 20px;
}

.margin-bottom-md {
    margin-bottom: 20px;
}

.margin-bottom-l {
    margin-bottom: 60px;
}
