// Vars
$main-color: #47CCAE;
$banner-height: 120px;
$header-height: 60px;
$active-underline: 6px;

// Resets

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

p {
    margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Mixins

@mixin vertical-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centered {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@import "header.scss";

// Mini-grid

.row {

    &::before {
      display: table;
      content: "";
    }

    &::after {
      display: table;
      clear: both;
      content: "";
    }
}

.col-1-2 {
    padding: 20px;
    width: 50%;
    float: left;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.col-2-3 {
    padding: 20px;

    width: 66.6666666%;
    float: left;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans', serif;
    font-size: 20px;
    font-weight: 400;
}

section {
    margin: 60px 0;
}

.h1 {
    font-size: 50px;
    color: $main-color;
    margin: 0;
}

.h1--banner {
    text-transform: capitalize;
    @include vertical-centered;
}

.h2 {
    font-size: 30px;
    font-style: italic;
    color: $main-color;
    margin: 0;
    margin-bottom: 10px;
}

.h3 {
    font-size: 20px;
    font-style: italic;
    margin: 0;
    font-weight: 400;
}


.main-container {
    box-sizing: border-box;
    position: relative;
    width: 1200px;
    margin: 2 * $header-height auto;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.me-gif {
    width: 240px;
    display: block;
    margin: auto;

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.banner {
    margin-bottom: 20px;
    text-align: center;
    height: $banner-height;
}

.banner--skills {
   background-image: url('../img/code-banner.jpg');
}

.banner--projects {
   background-image: url('../img/alois-martin.jpg');
}

.main-description {
    margin: 40px auto;
}

// Languages
.language-item-container {
    &.active {
        background-color: $main-color;
    }
    padding: 15px 30px;
    cursor: pointer;

    border-right: 1px solid grey;
}

.language-item__img {
    height: 30px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.language-item-describer {
    padding-left: 40px;
    display: none;

    @include vertical-centered;

    &.active {
        display: block;
    }
}

// Utilities

.underlined {
    color: $main-color;
    display: inline-block;
    border-bottom: 3px solid $main-color;
    line-height: 18px;
}

.margin-bottom-md {
    margin-bottom: 20px;
}
